@mixin space($value) {
    padding: $value;
}

@mixin link() {
    text-decoration: none;
    color: white;
}
@mixin phone ()
{
    @media only screen and (max-width:575px)
    {
        @content;
    }
}
@mixin tablet()
{
    @media only screen and (min-width: 576px) and (max-width: 767px)
    {
        @content;
    }
}
@mixin desktop() 
{
    @media only screen and (max-width: 1199px)
    {
        @content;
    }
}
@mixin large-desktop() 
{
    @media only screen and(max-width: 1800px)
    {
        @content;
    }
    
}